.inputboxescontainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10px;
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  position: relative;
}

@media (min-width: 768px) {
  .textarea-wrapper {
    flex-direction: row;
    align-items: stretch;
    gap: 30px;
    min-height: 600px;
  }

  .inputbox {
    flex: 1;
  }

  .swap-icon {
    align-self: center;
    flex-shrink: 0;
    transform: rotate(90deg);
  }
}

.inputbox {
  width: 100%;
  min-height: 280px;
  height: auto;
  padding: 20px;
  font-size: 16px;
  font-family: "Sylfaen", "DejaVu Sans", sans-serif;
  line-height: 1.6;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  background-color: #f0f7ff;
  color: #2d3748;
  resize: vertical;
  outline: none;
  box-sizing: border-box;
}

.inputbox::placeholder {
  color: #383a4899;
  font-style: italic;
}

.swap-icon {
  padding: 8px;
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.comparebtn {
  background: #4571e4;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Sylfaen", "DejaVu Sans", sans-serif;
  cursor: pointer;
  letter-spacing: 0.5px;
  align-self: center;
  min-width: 150px;
  margin-top: 20px;
}
